extends layout.pug

block append styles
    link(href='/css/blog.css', rel='stylesheet')

block content
    h1 #{title}
    each blog_post in blog_posts
        div.blog_post
            h2.blog_post_title #{blog_post.title}
            span.blog_post_info Posted by #{blog_post.username} on #{blog_post.createdAt.toDateString() }
            p #{blog_post.content}